<footer>
  <nav>
    <div class="scrollmenu">
      <ul>
          <li><a href="https://github.com/geordgez">github</a></li>
          <li><a href="https://www.linkedin.com/in/georgezeng">linkedin</a></li>
          <li>geordgez [at] gmail</li>
          <li><a href="https://www.facebook.com/geordge">facebook</a></li>
          <li><a href="https://www.strava.com/athletes/18961818">strava</a></li>
          <li><a href="http://data.typeracer.com/pit/profile?user=geordge">typeracer</a></li>
      </ul>
    </div>
  </nav>
</footer>
