{% include base.html %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="google-site-verification" content="lnoeIf-3ggqcee9OedchA1JqtzNHec4a8cVzAHk-SaQ" />
<title>{{ page.title }}</title>
<!-- link to main stylesheet -->
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{{ base }}/css/main.css">

{% assign layoutsheets = layout.custom_styles | split: "|" %}
{% for layoutsheet in layoutsheets %}
<link rel="stylesheet" type="text/css" href="{{ base }}/css/{{ layoutsheet }}.css">
{% endfor %}

{% assign stylesheets = page.custom_styles | split: "|" %}
{% for sheetname in stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ base }}/css/{{ sheetname }}.css">
{% endfor %}

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-110182105-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-110182105-1');
</script>

{% if page.mathjax %}
<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
<script>
        MathJax.Hub.Config({
            config: ["MMLorHTML.js"],
            extensions: ["tex2jax.js","TeX/AMSmath.js","TeX/AMSsymbols.js"],
            jax: ["input/TeX"],
            tex2jax: {
                inlineMath: [ ['$','$'], ["\\(","\\)"] ],
                displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
                processEscapes: false
            },
            TeX: {
                TagSide: "right",
                TagIndent: ".8em",
                MultLineWidth: "85%",
                equationNumbers: {
                   autoNumber: "AMS",
                },
                unicode: {
                   fonts: "STIXGeneral,'Arial Unicode MS'"
                }
            },
            showProcessingMessages: false
        });
</script>
{% endif %}
