<!DOCTYPE html>

<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
        		<li><a href="/cv">Experience</a></li>
        		<li><a href="/blog">Jots</a></li>
            <li><a href="/blog">Casual</a></li>
    		</ul>
		</nav>
		<div class="container">

		{{ content }}

		</div><!-- /.container -->
		<footer>
    		<ul>
            <li><a href="https://github.com/geordgez">geordgez [at] github</a></li>
            <li><a href="https://www.linkedin.com/in/georgezeng">georgezeng [at] linkedin</a></li>
            <li>geordgez [at] gmail</li>
            <li><a href="https://www.facebook.com/geordge">facebook</a></li>
            <li><a href="https://www.strava.com/athletes/18961818">strava</a></li>
            <li><a href="http://data.typeracer.com/pit/profile?user=geordge">typeracer</a></li>
			</ul>
		</footer>
	</body>
</html>
