<!DOCTYPE html>

<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
        		<li><a href="/cv">Experience</a></li>
        		<li><a href="/blog">Thoughts</a></li>
            <li><a href="/blog">Visuals</a></li>
    		</ul>
		</nav>
		<div class="container">

		{{ content }}

		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li>geordgez [at] gmail </li>
        		<li><a href="https://github.com/geordgez">geordgez [at] github</a></li>
			</ul>
		</footer>
	</body>
</html>
